AUTH_PORT=3002
AUTH_ISSUER=http://localhost:8000

ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_DAYS=15

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/oauth/google/callback

OAUTH_INTENT_TTL_SECONDS=600

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=local_ai_auth

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=auth-service
KAFKA_GROUP_ID=auth-service

USER_GRPC_URL=user-service:50051

MOCK_PUBLIC_IP=45.181.33.153

FRONT_END_URL=https://localhost:3000